@media (max-width: 600px) {
  html {
    font-size: 75%; /* Reduces all rem-based font sizes to 75% of the default */
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
  }

  #main-content-container {
    width: 100vw;
    height: 100vh;
  }

  #main-content-container > * {
    width: 100vw;
  }

  #main-weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #left-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #main-temp-container {
    width: 100%;
  }

  #current-temp-container {
    width: 50%;
  }

  #main-temp {
    font-size: 6rem;
  }

  #main-high,
  #main-low {
    font-size: 3rem;
  }

  #description-container {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    width: 90%;
  }

  #weather-type-gif {
    margin-top: 1.5rem;
    width: 50%;
  }

  #secondary-container {
    width: 100vw;
    height: 100vh;
  }

  #secondary-container > * {
    width: 100vw;
    height: 100vh;
  }

  #links {
    height: 10%;
  }
}
